<html><body>
{#<a src=""> Faire un while avec tout les formats #}
<a href="{{ path('api_1_get_dissertation_argument_convert', {'id': id, 'argumentId': argumentId, 'format': 'pdf'} )}}">Pdf</a>
</body></html>
