<h1 class="title">Commentaires</h1>
<div id="fos_comment_thread" data-thread="{{ 'thread_id' }}">
{% include 'FOSCommentBundle:Thread:comments.html.twig' with {
    'comments': comments,
    'thread': thread
    }
%}
</div>

